.check-button {
  width: 70px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid $color-text;
  background-color: rgb(212, 216, 5);
  font-family: $font-open;
  color: $color-text;
  font-size: 1.1rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgb(184, 187, 4);
  }
}
