.game {
  &-container {
    height: 100vh;
    width: 375px;
    margin: auto;
  }

  &-header {
    height: 70px;
    padding: 20px 0;

    &-title {
      font-family: $font-fredoka;
      font-size: 4rem;
      color: $color-text;
      text-align: center;
    }
  }
  &-info {
    font-size: 1.2rem;
    font-family: $font-open;
    color: $color-text;
    font-weight: 600;
    display: flex;

    &-text {
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
}

.options {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.user {
  margin-bottom: 20px;
  justify-content: space-between;
}

.end-game {
  font-family: $font-fredoka;
  font-size: 1.3rem;
  color: green;
  position: absolute;
  margin-top: 5px;
}

.game-over {
  font-size: 1.5rem;
  color: rgb(224, 0, 0);
}
