.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  // position: relative;
  &-pegs {
    display: flex;
  }

  &-hints {
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.peg-div {
  width: 50px;
  height: 50px;
}

.peg {
  width: 40px;
  height: 40px;
  border: 2px solid $color-text;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint {
  width: 15px;
  height: 15px;
  border: 2px solid $color-text;
  border-radius: 50%;
  margin-right: 5px;
}

.secret-code {
  margin-top: 40px;
}

.row-secret {
  position: relative;
}

.code-hide {
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: $color-text;
  color: white;
  font-family: $font-open;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; //niech to docelowo robi logika
}
