$color-background: rgb(230, 230, 230);
$color-text: rgb(105, 92, 92);
$color-orange: #f1a119;
$color-red: #fc5560;
$color-purple: #9249b7;
$color-green: #349f34;
$color-blue: #92c3ee;
$color-yellow: #f5e76e;
$color-correct: #19d93f;
$color-correct-color: #ef3131;

$font-fredoka: "Fredoka One", cursive;
$font-open: "Open Sans", sans-serif;
